<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-rocket"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">Explore</a>
        </div>
        <div class="navbar-nav search">
          <form class="d-flex" role="search">
            <input class="form-control me-2 inp-btn" type="search" placeholder="Search Destination" aria-label="Search" name="search">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <% if (currUser) {%>
            <a class="nav-link listhome" href="/bookings">My booking</a>
            <% } %>
            <a class="nav-link listhome" href="/listing/new">List your home</a>
            
            <% if (!currUser) {%>
              <a class="nav-link sign1" href="/signup"><b>SignUp</b></a>
              <a class="nav-link sign1" href="/login"><b>Login</b></a>
            <%} %>
            <% if (currUser) {%>
            <a class="nav-link sign1" href="/logout"><b>Logout</b></a>
            <%} %>
          </div>
      </div>
    </div>
  </nav>