<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create New Listing</h3><br><br>
    <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looking good</div>
            <div class="invalid-feedback">Title is required</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="About" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">please enter short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="2300" type="number" type="text" class="form-control" required>
                <div class="invalid-feedback">please a valid price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                <div class="invalid-feedback">country is required</div>
            </div>

        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="listing[location]" placeholder="Deoghar,Jharkhand" type="text" class="form-control" required>
            <div class="invalid-feedback">please enter location</div>
        </div>
        
        <button class="btn btn-dark">Add</button><br><br>
    </form>
</div>
</div>
</body>