<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-2" role="alert">
        <p class="alert-heading"><%=err.message%></p>
        <p class="alert-heading"><%=err.stack%></p>
      </div>
</div>